extends ../base 
block content 
    if errorMessage 
        div=errorMessage
    form(method="POST")
        input(name="caption", placeholder="문구 입력...", type="text")
        input(value="공유", type="submit")