doctype html
html(lang="ko")
    head
        title #{pageTitle} | 쫑기닷컴
    body 
        h1=pageTitle 
        nav 
            ul 
                li 
                    a(href="/") Home
                li
                    a(href="/postings/upload") Upload Posting
        block content
    include partials/footer