extends ../base 
block content
    if errorMessage 
        span=errorMessage
    form(method="post")
         input(name="currentPassword", placeholder="Current Password", type="password", required)
         input(name="password", placeholder="password", type="password", required)
         input(name="password2", placeholder="password Confirmation",type="password", required)
         input(type="submit", value="Change Password")