extends ../base 
include ../mixins/post

block content 
    div name: #{user.name}
    div email: #{user.email}
    div username: #{user.username}
    div postings: 
        each posting in user.postings
            +post(posting)
        else 
            span 게시글 없음.